<div class="container">
  <header class="container">
        <nav class="navbar navbar-expand-lg d-flex justify-content-between align-items-center py-3 mb-4 border-bottom">
            <!-- Left Side: Logo -->
            <a class="navbar-brand d-flex align-items-center fancy-logo" href="#">
              <img src="{{ url_for('static', filename='images/TF.png') }}" alt="Logo" width="50" height="50" class="me-2">
            </a>

            <!-- Right Links -->
            <ul class="navbar-nav mb-2 mb-lg-0 d-flex align-items-center">
                <li class="nav-item me-2 mr-4">
                  <a class="btn code-btn fs-4" href="https://github.com/tomasflecchia/todo-project" target="_blank">
                    <i class="fab fa-github"></i> <span data-i18n="source_code">Source Code</span>
                  </a>
                </li>

                <li class="nav-item">
                  {% if current_user.is_authenticated %}
                    <div class="dropdown">
                      <button class="btn btn-primary fs-5 me-2 dropdown-toggle" type="button" id="userDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                        {{ current_user.email }}
                      </button>
                      <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
                        <li>
                          <form method="POST" action="{{ url_for('logout') }}">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                            <button type="submit" class="btn btn-link">Logout</button>
                          </form>
                        </li>
                      </ul>
                    </div>
                  {% else %}
                    <a class="btn btn-primary fs-5 me-2" data-bs-toggle="modal" data-bs-target="#popupFormModal">Login</a>
                  {% endif %}
                </li>
            </ul>

        </nav>
    </header>
</div>

