<!-- modal_form.html -->
<div class="modal fade" id="popupFormModalRegister" tabindex="-1" aria-labelledby="popupFormModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <form class="modal-content" method="POST" action="{{ url_for('register_form') }}">
      <div class="modal-header">
        <h5 class="modal-title" id="popupFormModalLabel">Register</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" style="text-align: left; font-family: 'Inter', sans-serif;">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <div class="mb-3">
          <input type="email" class="form-control" placeholder="e-mail" id="register-email" name="register-email" required>
        </div>
        <div class="mb-3">
          <input type="password" class="form-control" placeholder="Password" id="register-password" name="register-password" required>
        </div>
        <span class="text-muted small">
          Already have an account?
          <a href="#" class="register-login-link" data-bs-toggle="modal" data-bs-target="#popupFormModal"
             data-bs-dismiss="modal">Login</a>
        </span>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary" data-i18n="button_send">Register</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" data-i18n="button_close">Close</button>
      </div>
    </form>
  </div>
</div>