.task-done {
    text-decoration: line-through;
    opacity: 0.6;
}

.list_name {
    min-width: 200px;
    flex: 1;
}

.list_btn {
    height: 50px;
    flex: 1;            /* todos ocupan el mismo espacio */
    min-width: 160px;   /* que no sean demasiado chicos */
}

.dropdown .dropdown-toggle {
    height: 50px;
    flex: 1;
    min-width: 220px;
}

.white_text {
    color: white;
}

.register-login-link {
    text-decoration: none;
}

@media (max-width: 1040px) {
    .list-form {
        flex-direction: column !important;
        align-items: stretch !important; /* para que los inputs tomen todo el ancho */
    }
}

@media (max-width: 780px) {
  .hide-on-small {
    display: none !important;
  }
}

.code-btn {
  color: #1E3A8A; /* Text and border color */
  border: 2px solid #1E3A8A;
  border-radius: 50px; /* Fully rounded */
  background-color: transparent;
  transition: all 0.3s ease;
  margin-right: 1rem;
}

.code-btn:hover {
  background-color: #181717;
  color: white !important;
}

.fancy-link {
  position: relative;
  display: inline-block;
  font-weight: 800;
  color: black;
  text-decoration: none;
  padding: 0.2em 0.5em;
  margin: 0 1.5em;
  z-index: 1;
}

.fancy-logo {
  position: relative;
  display: inline-block;
  z-index: 1;
}

.fancy-logo img {
  display: block;
  position: relative;
  z-index: 2; /* keep logo above overlay */
}

.fancy-logo::before {
  content: '';
  position: absolute;
  top: 10%;       /* leave padding around the letters */
  left: 3%;
  width: 82%;
  height: 80%;
  background-color: #F7B801;
  z-index: 1;     /* behind the logo */
  opacity: 0;     /* start transparent */

  transform: scaleY(0.1);
  transform-origin: bottom;
  transition: transform 0.4s ease, opacity 0.4s ease;
}

.fancy-logo:hover::before {
  transform: scaleY(1);
  opacity: 1;
}